{% extends "app/base_site.html" %}
{% block title %} Dashboard 1 {% endblock title %}
{% load mathfilters %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fas fa-project-diagram"></i> Total de Projetos</span>
        <div class="count"><a href="{% url 'core:project'%}">{{total_project}}</a></div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fas fa-project-diagram"></i> Concluídos</span>
        <div class="count"><a href="{% url 'core:project-finished'%}">{{success_project}}</a></div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fas fa-project-diagram"></i> Em andamento</span>
        <div class="count"><a href="{% url 'core:project-unfinished'%}">{{progress_project}}</a></div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fas fa-project-diagram"></i> Atrasados</span>
        <div class="count"><a href="{% url 'core:project-late'%}">{{late_project}}</a></div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">Novo</span>
        <div class="count green"><a href="{% url 'core:project-create'%}"><i class="fa fa-plus"></i> Projeto</a></div>
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">

            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Tipos de Projeto</h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tbody>
                      <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">Tipo de Projetos</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Quantidade de Projetos</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="chartpie" height="140" width="140" style="margin: 15px 10px 10px 0px; width: 140px; height: 140px;"></canvas>
                      </td>
                      <td>
                        <table class="tile_info">
                          <tbody>
                            {% for tipo in tipos %}
                            <tr>
                              <td>
                                <p><i class="fa fa-square {% if forloop.counter == 1%}green{% elif forloop.counter == 2%}blue{% elif forloop.counter == 3%}purple{% elif forloop.counter == 4%}aero{%else%}red{%endif%}"></i><span class="name_tipo">{{tipo.name}}</span></p>
                              </td>
                              <td><span class="name_quantidade">{{tipo.total_project}}</<span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      </td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
              <h2>TOP 5 - Concluídos/Categoria</h2>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6">
              {% for category in categories %}
              <div>
                <p>{{category}}</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{category.progress|floatformat:'2'}}"></div>

                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Localização do Projetos</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>

                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="dashboard-widget-content">
                  <div class="col-md-4 hidden-small">
                    <h2 class="line_30"></h2>
                    <table class="countries_list">
                      <tbody>
                        {% for institution in institutions %}
                        <tr>
                          <td>{{institution}}</td>
                          <td class="fs15 fw700 text-right">{{institution.per_project|floatformat:"2"}}%</td>
                          <td><button type="button" class="btn btn-default fas fa-search" onclick="buildSonar('{{institution.get_categorias}}');"></button></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-8 hidden-small">
                  <div id="sonar_project" style="height:370px;"></div>
                  </div>
                  <!-- <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;">

                  </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>

  <script type="text/javascript">


    function buildSonar(categorias){
      // console.log(categorias);
      var theme = {
          color: [
              '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
              '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
          ],

          title: {
              itemGap: 8,
              textStyle: {
                  fontWeight: 'normal',
                  color: '#408829'
              }
          },

          dataRange: {
              color: ['#1f610a', '#97b58d']
          },

          toolbox: {
              color: ['#408829', '#408829', '#408829', '#408829']
          },

          tooltip: {
              backgroundColor: 'rgba(0,0,0,0.5)',
              axisPointer: {
                  type: 'line',
                  lineStyle: {
                      color: '#408829',
                      type: 'dashed'
                  },
                  crossStyle: {
                      color: '#408829'
                  },
                  shadowStyle: {
                      color: 'rgba(200,200,200,0.3)'
                  }
              }
          },

          dataZoom: {
              dataBackgroundColor: '#eee',
              fillerColor: 'rgba(64,136,41,0.2)',
              handleColor: '#408829'
          },
          grid: {
              borderWidth: 0
          },

          categoryAxis: {
              axisLine: {
                  lineStyle: {
                      color: '#408829'
                  }
              },
              splitLine: {
                  lineStyle: {
                      color: ['#eee']
                  }
              }
          },

          valueAxis: {
              axisLine: {
                  lineStyle: {
                      color: '#408829'
                  }
              },
              splitArea: {
                  show: true,
                  areaStyle: {
                      color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                  }
              },
              splitLine: {
                  lineStyle: {
                      color: ['#eee']
                  }
              }
          },
          timeline: {
              lineStyle: {
                  color: '#408829'
              },
              controlStyle: {
                  normal: { color: '#408829' },
                  emphasis: { color: '#408829' }
              }
          },

          k: {
              itemStyle: {
                  normal: {
                      color: '#68a54a',
                      color0: '#a9cba2',
                      lineStyle: {
                          width: 1,
                          color: '#408829',
                          color0: '#86b379'
                      }
                  }
              }
          },
          map: {
              itemStyle: {
                  normal: {
                      areaStyle: {
                          color: '#ddd'
                      },
                      label: {
                          textStyle: {
                              color: '#c12e34'
                          }
                      }
                  },
                  emphasis: {
                      areaStyle: {
                          color: '#99d2dd'
                      },
                      label: {
                          textStyle: {
                              color: '#c12e34'
                          }
                      }
                  }
              }
          },
          force: {
              itemStyle: {
                  normal: {
                      linkStyle: {
                          strokeColor: '#408829'
                      }
                  }
              }
          },
          chord: {
              padding: 4,
              itemStyle: {
                  normal: {
                      lineStyle: {
                          width: 1,
                          color: 'rgba(128, 128, 128, 0.5)'
                      },
                      chordStyle: {
                          lineStyle: {
                              width: 1,
                              color: 'rgba(128, 128, 128, 0.5)'
                          }
                      }
                  },
                  emphasis: {
                      lineStyle: {
                          width: 1,
                          color: 'rgba(128, 128, 128, 0.5)'
                      },
                      chordStyle: {
                          lineStyle: {
                              width: 1,
                              color: 'rgba(128, 128, 128, 0.5)'
                          }
                      }
                  }
              }
          },
          gauge: {
              startAngle: 225,
              endAngle: -45,
              axisLine: {
                  show: true,
                  lineStyle: {
                      color: [
                          [0.2, '#86b379'],
                          [0.8, '#68a54a'],
                          [1, '#408829']
                      ],
                      width: 8
                  }
              },
              axisTick: {
                  splitNumber: 10,
                  length: 12,
                  lineStyle: {
                      color: 'auto'
                  }
              },
              axisLabel: {
                  textStyle: {
                      color: 'auto'
                  }
              },
              splitLine: {
                  length: 18,
                  lineStyle: {
                      color: 'auto'
                  }
              },
              pointer: {
                  length: '90%',
                  color: 'auto'
              },
              title: {
                  textStyle: {
                      color: '#333'
                  }
              },
              detail: {
                  textStyle: {
                      color: 'auto'
                  }
              }
          },
          textStyle: {
              fontFamily: 'Arial, Verdana, sans-serif'
          }
      };

      var echartRadar = echarts.init(document.getElementById('sonar_project'), theme);
      // var IES =
      categorias = categorias.split(";");
      var IES = [];
      var total_projetos = [];
      var concluidos = [];
      categorias.forEach(function(valor, chave){
          dado = valor.split(":");
          obj = {text: dado[0], max: dado[1]};
          total_projetos.push(dado[1]);
          concluidos.push(dado[2]);
          IES.push(obj);
      });

      var UFPI = IES;
      echartRadar.setOption({
          title: {
              text: 'Total de Projetos VS Concluídos',
              subtext: 'Projetos criados em relação aos concluidos por área'
          },
          tooltip: {
              trigger: 'item'
          },
          legend: {
              orient: 'vertical',
              x: 'right',
              y: 'bottom',
              data: ['Total de Projetos', 'Atualmente Concluídos']
          },
          toolbox: {
              show: true,
              feature: {
                  saveAsImage: {
                      show: true,
                      title: "Salvar Imagem"
                  }
              }
          },
          polar: [{
              indicator: UFPI
          }],
          calculable: true,
          series: [{
              name: 'Total de Projetos VS Concluídos',
              type: 'radar',
              data: [{
                  value: total_projetos,
                  name: 'Total de Projetos'
              }, {
                  value: concluidos,
                  name: 'Atualmente Concluídos'
              }]
          }]
      });
    }
    $(function(){
      labels = [];
      data = [];
      $('.name_tipo').each(function(i){
          labels.push($(this).text());
      });
      $('.name_quantidade').each(function(i){
          data.push($(this).text());
      });
        var chart_doughnut_settings = {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: [
                        "#26B99A",
                        "#3498DB",
                        "#9B59B6",
                        "#BDC3C7",
                        "#E74C3C",
                    ],
                    hoverBackgroundColor: [
                        "#36CAAB",
                        "#49A9EA",
                        "#B370CF",
                        "#CFD4D8",
                        "#E95E4F",


                    ]
                }]
            },
            options: {
                legend: true,
                responsive: false
            }
        }

        $('#chartpie').each(function() {
            var chart_element = $(this);
            var chart_doughnut = new Chart(chart_element, chart_doughnut_settings);
        });
    });
  </script>
{% endblock javascripts %}
